---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Contratos"
	description="contratos fusenpro"
	pubDate={new Date("March 20 2024")}
	heroImage="/contrato1.png"
>
	<h2>PRESENTACION CONTRATO 52003682024</h2>
	<p>
		Prestar los servicios de educación inicial en el marco de la atención
		integral de conformidad con el Manual Operativo de la Modalidad
		correspondiente, el Lineamiento Técnico para la Atención a la Primera
		Infancia y las directrices establecidas por el ICBF, en armonía con la
		Política de Estado para el Desarrollo Integral de la Primera Infancia de
		Cero a Siempre
	</p>

	
</Layout>
