---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Breve historia del cannabis medicinal"
	description="Cannabis medicinal en colombia"
	pubDate={new Date('August 08 2021')}
	heroImage="/canabis medicinal.png"
>
	<p>
		Colombia ha enfrentado un largo historial en lo que respecta a 
		las drogas durante la segunda mitad del siglo XX en un periodo 
		conocido como la “bonanza marimbera”. El país se destacó por la producción
		 masiva de sustancias psicoactivas, incluyendo la famosa "Colombian gold",
		 que convirtió a Colombia en el principal productor mundial de marihuana en 
		 las décadas de los sesenta y setenta
	</p>

	

	<p>
		Más tarde, en los años ochenta y noventa, el país pasó a dominar el mercado de la cocaína, 
		convirtiéndose igualmente en el mayor productor de esta sustancia en el mundo. 
		Este historial llevó al país a implementar una versión militarizada de la "guerra contra las drogas", 
		presionada por los Estados Unidos y una opinión pública nacional sólida, la penalización se instauró 
		como la principal herramienta para mitigar la cadena de producción de sustancias psicoactivas.

	
	<p>
		En cuanto al cannabis medicinal, el Gobierno colombiano reconoció los beneficios médicos y 
		socioeconómicos del cannabis, marcando un cambio en la concepción de la producción de drogas en el país. 
		A partir de 2015, hubo un cambio significativo con la legalización del uso medicinal del cannabis y la 
		regulación de su producción. La legislación valorizó el trabajo social, el conocimiento y los beneficios 
		económicos de la producción de drogas, siendo innovadora a nivel internacional.
	</p>
</Layout>
