---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Sistema de monitoreo de variables ambientales con IOT</h1>
			<h2>Para cultivos de cannabis de SANNATIVA</h2>
			<p>
				Este proyecto de grado presenta una solución innovadora para
				el manejo eficiente de cultivos de cannabis medicinal a través
				de la implementación de tecnología IoT y un sistema web para la
				administración de invernaderos y visualización de variables ambientales. 
				El objetivo principal es desarrollar una herramienta que permita la 
				recopilación y análisis de datos en tiempo real, lo que permitirá una toma de
			    decisiones más informada y eficiente en el manejo de los cultivos. 
				Además, se busca mejorar la calidad de los cultivos y minimizar los riesgos ambientales.
				El proyecto se enfoca en la línea de investigación de desarrollo de software de
				la Corporación Universitaria Autónoma de Nariño y se basa en el análisis del estado 
				del arte en el ámbito internacional. 
				La solución propuesta se adapta específicamente a los cultivos de cannabis medicinal, 
				pero puede ser adaptada a otros tipos de cultivos en invernaderos.			</p>

			<p> 

				Este Trabajo tiene como objetivo general desarrollar un prototipo de sistema web para la administración
				de invernaderos y visualización de variables ambientales recopiladas a través de tecnología IoT, 
				con el fin de mejorar la productividad de los cultivos de cannabis medicinal de la entidad SANNATIVA 3100.
				

			</p>
			<p>
				Para lograrlo se ha trazado la siguiente ruta de actividades.
			
				</p>
			<ul>
				<li>Determinar las variables críticas que afectan el desarrollo de la planta de cannabis.</li>
				<li>Delimitar las tecnologías que mejor se adapten al desarrollo del proyecto, basándose en la información recopilada. </li>
				<li>Definir cada una de las funcionalidades que tendrá el sistema.</li>
				<li>Construir y desplegar la red de sensores e infraestructura de IoT necesaria. </li>
				<li>Construir un prototipo de sistema web que permita el almacenamiento de datos del invernadero y la visualización de variables ambientales específicas para los cultivos de cannabis medicinal. </li>

			</ul>
			
			<p>

				El desarrollo de un sistema web para la administración de invernaderos y visualización de variables 
				ambientales recopiladas a través de tecnología IoT aplicado a cultivos de cannabis medicinal es una 
				solución innovadora que permitirá mejorar la productividad de los cultivos y minimizar los riesgos ambientales
			



			</p>
		</main>
		<Footer />
	</body>
</html>
