---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Funsenpro</h1>
			<h2>¿Qienes somos?</h2>
			<p>
				Se constituye el 26 de Noviembre de 2010 bajo una iniciativa de
				un grupo empresarial de la región, quienes miran la necesidad de
				crear una entidad que pueda velar e identificar y promover
				Proyectos de índole cultural, social y educativos; de la misma
				manera participar en procesos de gestión y democracia
				participativa como también atención en educación inicial a la
				primera infancia, adolescencia y familia, así mismo suministrar
				alimentación complementaria a la población vulnerable, madres
				gestantes, lactantes y adulto mayor.
			</p>

			<h2>Mision</h2>

			<p>
				Proporcionar condiciones y contribuir a la mejora de nuestra
				sociedad a través de actividades y programas de gran impacto
				social. Nos caracterizamos por realizar un trabajo en el que
				prima la calidad y la confianza en el cambio individual y social
				.
			</p>

			<h2>Vision</h2>

			<p>
				Liderar procesos de desarrollo individual, familiar y social a
				través de la educación y el empleo, dotando de herramientas
				necesarias para el mejoramiento en las condiciones de vida y a
				la vez que sean capaces de desarrollar todo su potencial y tomar
				parte activa y responsable en la sociedad. Convirtiéndonos hacia
				el año 2030 en una institución modelo de identificación regional
				y nacional.
			</p>

			<h2>Valores corporativos.</h2>
			<ul>
				<li>
					Solidaridad.
				</li>
				<li>
					Responsabilidad.

				</li>
				<li>
					Servicio

				</li>
				<li>
					Trabajo en equipo.
				</li>
				<li>
					Compromiso.
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
